@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@import 'swiper/css/grid';
@import 'swiper/css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased font-Barlow;
}
#app,
nav {
  min-width: 900px !important;
}
/* 添加字体定义 */
@layer base {
  @font-face {
    font-family: 'Barlow';
    font-weight: 400;
    src: url('@/assets/fonts/Barlow-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Barlow-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Barlow';
    font-weight: 500;
    src: url('@/assets/fonts/Barlow-Medium.woff2') format('woff2'),
      url('@/assets/fonts/Barlow-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Barlow';
    font-weight: 600;
    src: url('@/assets/fonts/Barlow-SemiBold.woff2') format('woff2'),
      url('@/assets/fonts/Barlow-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Barlow';
    font-weight: 700;
    src: url('@/assets/fonts/Barlow-Bold.woff2') format('woff2'),
      url('@/assets/fonts/Barlow-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Barlow';
    font-weight: 800;
    src: url('@/assets/fonts/Barlow-ExtraBold.woff2') format('woff2'),
      url('@/assets/fonts/Barlow-ExtraBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Barlow';
    font-weight: 900;
    src: url('@/assets/fonts/Barlow-Black.woff2') format('woff2'),
      url('@/assets/fonts/Barlow-Black.ttf') format('truetype');
  }
}
/* 添加主题 */
@layer base {
  .light {
    /* 背景色 黑色 */
    --color-base: 255, 255, 255;
    /* 背景次要色 灰*/
    --color-baseSecond:245, 245, 247;
    /* 背景活动色 蓝*/
    --color-baseActive:99, 187, 208;
    /* 字体颜色 白*/
    --color-font: 0, 0, 0;
     /* 字体次要色 灰*/
    --color-fontSecond:122, 122, 123;
    /* 字体活动颜色 蓝*/
    --color-fontActive:99, 187, 208;
  }
  .dark {
    --color-base: 34, 34, 34;
    --color-baseSecond:50, 50, 50;
    --color-baseActive:99, 187, 208;
    --color-font: 255, 255, 255;
    --color-fontSecond:122, 122, 123;
    --color-fontActive:99, 187, 208;
  }
}
