@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 0, 0, 0;
    --color-text-primary: 99, 187, 208;
    --color-text-secondary: 48, 49, 51;
    --color-text-tertiary: 144, 147, 153;
    /* --color-fill: #4338ca; 
     --color-button-accent: #ffffff; 
     --color-button-hover: rgba(209,209,214,0.28); 
     --color-button-muted: 99, 102, 241;  */
  }
  /* .theme-swiss {
    --color-text-base: #ffffff;
    --color-text-muted: #fecaca;
    --color-text-inverted: #dc2626;
    --color-fill: #b91c1c;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #fef2f2;
    --color-button-muted: 239, 68, 68;
  } */
}

/* 定义字体 */
* {
  @apply antialiased font-sans;
}
/* 添加功能类 */
@layer components {
  /* 按钮通用样式 */
  .btn {
    @apply flex items-center justify-center m-1 p-2 rounded-xl hover:bg-opacity-25 hover:bg-gray-300 active:scale-90 transition-all;
  }
}
/* 滚动条样式 */
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  /* 隐藏滚动条 w-0 */
  @apply w-0 h-2;
}

/*定义滚动条轨道
  内阴影+圆角*/
::-webkit-scrollbar-track {
  @apply rounded-lg bg-gray-100;
}
/*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb {
  @apply rounded-lg shadow-md bg-gray-300;
}
